{% load template_functions %}

<div class="pure-u-11-24">
    <h2>Project Information</h2>
    <p>The McMurdo Oceanographic Observatory (MOO) was conceived primarily in order to facilitate studies on the freezing avoidance strategies of Antarctic notothenioid fishes. Since its installation in October-November 2017, the MOO now provides real-time and archival oceanographic condition data that allows experimentation with Antarctic fishes in their natural habitat in the context of known past and present seawater conditions.</p>
    <p>In addition to being the first formal effort at recording year-round, multiyear seawater temperature, salinity and pressure (tides) in McMurdo Sound, the MOO is the first installation in Antarctica to stream a live, high definition video stream and research-quality underwater audio recordings to the surface for ultimate worldwide dissemination.</p>
    <p>Together, these unprecedented data streams are expected to provide unparalleled insight into short and long-term variation in the properties of McMurdo Sound seawater, visual documentation of previously unknown physical phenomena and animal and, through underwater audio recordings of their vocalizations, to document the seals and whales that reside and visit McMurdo Sound throughout the year.</p>
</div>

<div class="pure-u-11-24" style="margin-left:4%">
    <h2>The Team</h2>
    <h3>Paul A. Cziko</h3>
    <p>Evolutionary biologist, tinkerer, diver and the Principal Investigator of the project B-195 at McMurdo Station, Antarctica. Paul studies the physiology and ecology of Antarctic fishes, especially as it relates to the evolution of their freezing avoidance strategies. He led the deployment of the McMurdo Oceanographic Observatory in order to better understand the environmental context in which these fishes evolved. He has completed 7 seasons in Antarctica and 150 dives under the ice in support of Antarctic research projects. Paul is a Research Assistant Professor at the University of Oregon, Eugene, USA. More information about Paul can be found at {{ "paulcziko.net"|kiosk_url:location }}</p>

    <h3>Arthur L. DeVries</h3>
    <p>Art is the Co-Principal Investigator of the project and one of the most deployed Antarctic scientists ever. He began his Antarctic career in 1961 and has travelled to Antarctica more than 50 times. With his discovery of antifreeze proteins in Antarctic fishes in the 1970s, he opened an entirely new field of research into the physiology of cold adaptation and freezing avoidance. He is Professor Emeritus at the University of Illinois, Urbana-Champaign, USA.</p>

    <h3>Henry Kaiser</h3>
    <p>Scientific diver, musician, videographer and more. Henry fills a number of important roles that every science group needs but rarely has. In twelve deployments to McMurdo Station and nearby field camps, Henry has supported numerous and varied science projects, both above and below the ice. More about Henry can be found at {{ "henrykaiserguitar.com"|kiosk_url:location }}</p>

    <h3>Konrad Meister</h3>
    <p>Protein biophysicist, field technician and fisherman extraordinaire. When Konrad isn't using state-of-the-art technology to better understand the interactions between antifreeze proteins and ice, he's organizing field trips to our local fishing holes, supporting our diving, maintaining equipment, and doing much of the heavy lifting necessary to catch our study species. More about Konrad can be found at {{ "amolf.nl/people/konrad-meister"|kiosk_url:location }}</p>

    <h3>Nick Santos</h3>
    <p>Data integration and IT specialist, hacker, programmer, GIS researcher, and much, much more. In Nick's first season on the ice, he's supporting our technology needs and developing the software infrastructure for our observatory. Nick's work will ensure that critical data is archived, and interesting and exciting data is made available to the broader public. More about Nick can be found at {{ "nicksantos.com"|kiosk_url:location }}</p>
</div>
