{% load template_functions %}

<div class="pure-u-11-24">
    <div class="pure-u-1-1">
        <h2>Project Information</h2>
        <p>The McMurdo Oceanographic Observatory is the first and only real-time, multi-year oceanographic observing station in McMurdo Sound, Antarctica.  It was installed by project B-195-M in November 2017 primarily in order to facilitate studies on the freezing avoidance strategies of Antarctic notothenioid fishes.</p>
        <p>In addition to being the first formal effort at recording a long-term, archival quality seawater temperature, salinity and pressure (tides) dataset from McMurdo Sound, the Observatory is the only installation in Antarctica to stream a live, high-definition video stream and research-quality underwater audio recordings to the surface for ultimate worldwide dissemination.</p>
        <p>Together, these unprecedented data streams are expected to provide unparalleled insight into short and long-term variation in the properties of McMurdo Sound seawater, visual documentation McMurdo Sound’s unique physical and biological phenomena and, through underwater audio recordings of their vocalizations, to document the species of seals and whales that reside in and visit McMurdo Sound throughout the year.</p>

        <h2>Funding</h2>
        <p>The McMurdo Oceanographic Observatory was funded by National Science Foundation Polar Programs award #1644196 (2017 to 2020) entitled "The Oceanographic Drivers of the invasion of internal ice and its fate in Antarctic Notothenioid fishes" to Paul A. Cziko (P.I.) at the University of Oregon, Eugene and Arthur L. DeVries (Co-P.I.) at the University of Illinois, Urbana-Champaign.</p>
    </div>
    <div class="pure-u-1-1">
        <
    </div>
</div>

<div class="pure-u-11-24" style="margin-left:4%">
    <h2>Our Team</h2>
    <h3>Paul A. Cziko</h3>
    <p>Evolutionary biologist, tinkerer, diver and Principal Investigator of the project B-195-M. Paul studies the physiology and ecology of Antarctic fishes, especially as it relates to the evolution of their freezing avoidance strategies. He is Research Assistant Professor at the University of Oregon, Eugene, USA. {{ "paulcziko.net"|kiosk_url:location }}</p>

    <h3>Arthur L. DeVries</h3>
    <p>Art is the Co-Principal Investigator of the project and one of the most deployed Antarctic scientists ever. With his discovery of antifreeze proteins in Antarctic fishes in the 1970s, he opened an entirely new field of research into the physiology of cold adaptation and freezing avoidance. He is Professor Emeritus at the University of Illinois, Urbana-Champaign, USA.</p>

    <h3>Henry Kaiser</h3>
    <p>Scientific diver, musician, videographer and field technician. Henry fills a number of important roles that every science group needs but rarely has. In twelve deployments to McMurdo Station and nearby field camps, Henry has supported numerous and varied science projects, both above and below the ice. {{ "henrykaiserguitar.com"|kiosk_url:location }}</p>

    <h3>Konrad Meister</h3>
    <p>Protein biophysicist, field technician and Antarctic fisherman. When he isn't using state-of-the-art technology to probe the interactions between antifreeze proteins and ice, he's organizing field trips to our local fishing holes, supporting divers, and doing much of the heavy lifting necessary for our field operations. {{ "amolf.nl/people/konrad-meister"|kiosk_url:location }}</p>

    <h3>Nick Santos</h3>
    <p>Data integration and IT specialist, hacker, programmer and GIS researcher. In Nick's first season on the ice, he's supporting our technology needs and developing the software infrastructure for our observatory. Nick's work will ensure that critical data is archived, and interesting and exciting data is made available to the broader public. {{ "nicksantos.com"|kiosk_url:location }}</p>
</div>
