{% extends "icefish/index.django.html" %}
{% load staticfiles %}

{% block content %}
    <div class="pure-u-md-1-24 pure-u-sm-1" id="icefish_navbar">
        <img src="{% static "icefish/img/core/B195M_Logo_240.png" %}" id="icefish_logo">
        <ul>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_video_browser');"><i class="fa fa-video-camera" aria-hidden="false" aria-label="Browse Video" title="Browse Video Archive"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_audio_browser');"><i class="fa fa-headphones" aria-hidden="false" aria-label="Browse Audio" title="Browse Audio Archive"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_data_browser');"><i class="fa fa-database" aria-hidden="false" aria-label="CTD Data and API" title="CTD Data and API"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_about');"><i class="fa fa-info-circle" aria-hidden="false" aria-label="About This Project" title="About this Project"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_settings');"><i class="fa fa-sliders" aria-hidden="false" aria-label="Settings" title="Application Settings"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_controls', 'pure-u-md-11-24');"><i class="fa fa-arrows" aria-hidden="false" aria-label="Camera Control" title="Camera Control"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button"><a href="#" onclick="toggle_dialog('icefish_summary_stats');"><i class="fa fa-table" aria-hidden="false" aria-label="Summary Statistics and Regional Data" title="Summary Statistics and Regional Data"></i></a></li>
        </ul>
    </div>

    <!-- Dialogs for other applications -->
    <div id="icefish_about" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>About the McMurdo Oceanographic Observatory</h2>
        </div>
    </div>  <!-- first in the page because it doesn't matter and this way its contents are pulled first by robots -->
    <div id="icefish_video_browser" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>Video Archive Browser</h2>
        </div>
    </div>
    <div id="icefish_controls" class="pure-u-md-1-2 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>Observatory Controls</h2>
        </div>
    </div>
    <div id="icefish_audio_browser" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>Audio Archive Browser</h2>
        </div>
    </div>
    <div id="icefish_data_browser" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>CTD Data Browser</h2>
        </div>
    </div>
    <div id="icefish_settings" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>Application Settings</h2>
                <h3>Realtime Spectrogram</h3>
                    <!-- Tool Bars - code straight from hydrophone -->
                    <div id="toolbar">
                        <span>Step size: <select id="step" disabled="1"></select></span>
                        <span id="abId0.5314168991210294">Reference: <input id="ref" size="2" value=46 disabled="1">dB µPa</span>
                        <span>Bandwidth: <span data-field="fftBandWidth">Loading...</span></span>
                        <span id="abId0.433896597943322"><input id="view" size="2" value="4" disabled="1"> min(s)</span>
                        <span><button id="rescale" disabled="1">Rescale</button></span>
                        <span><button id="gobtn">Stop</button></span>
                    </div>
        </div>
    </div>
    <div id="icefish_summary_stats" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1">
            <h2>Summary Stats and Regional Information</h2>
        </div>
    </div>

    <div id="icefish_error_console" class="pure-u-md-3-4 pure-u-sm-1 icefish_hidden_dialog"></div>

    <div class="pure-u-md-17-24 pure-u-sm-1" id="icefish_main">
        <div id="video" class="pure-u-1-1 video_container"> <!-- height here doesn't control video size, but does push the spectrogram down to appropriate spot -->
            <div class="pure-u-md-1-12 pure-u-sm-1 letterbox"></div>
            <div class="pure-u-md-5-6 pure-u-sm-1" id="icefish_video_player_container">
                <div id="WowzaPlayerElement" style="width:100%; height:0; padding:0 0 56.25% 0"></div>
            </div>
            <div class="pure-u-md-1-12 pure-u-sm-1 letterbox"></div>
        </div>
        <div id="spectrogram" class="pure-u-1"><!-- Waterfall Display -->
            <div id="waterfall-display" class="chart-holder" style="height:100%">
                <div class="chart" style="height:100%"></div>
                <div class="chartmessage">Loading Waterfall Display...</div>
                <div class="ylabel">Frequency (Hz)</div>
                <div class="xlabel">Time</div>
            </div>
        </div>
    </div>
    <div class="pure-u-md-1-4 pure-u-sm-1" id="icefish_charts">
        <div class="pure-u-1-24">
            <div class="pure-u-2-3" id="icefish_chart_toggle_bar">
                <a href="#" id="icefish_chart_toggle_link" onclick="change_chart_size();">
                    <i id="icefish_chart_toggle_button" class="fa fa-caret-left" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="pure-u-22-24">
            <div id="temperature" class="icefish_chart"></div>
            <div id="pressure" class="icefish_chart"></div>
            <div id="salinity" class="icefish_chart"></div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
	<script src="{% static "icefish/js/common/jquery_cookie.js" %}"></script><!-- hydrophone requirement -->
	<script src="{% static "icefish/js/common/jquery_plot.js" %}"></script><!-- hydrophone requirement -->
    <script src="{% static "/icefish/js/spectrogram/chroma.js" %}"></script><!-- hydrophone requirement -->
    <script src="{% static "/icefish/js/spectrogram/spectrogram.js" %}"></script><!-- hydrophone requirement -->

    <script type="text/javascript">
        $( document ).ready(function() {
            get_initial_data({"temperature": "temperature", "pressure": "pressure", "salinity": "salinity"})
        });
    </script>

    <!-- intentionally putting this after the others since it requires an offcontinent request -->
    <script type="text/javascript" src="{% static "/icefish/js/video/wowzaPlayer1.1.07.js" %}"></script>
    <script>
        $( document ).ready(function() {
            WowzaPlayer.create('WowzaPlayerElement',
                {
                "license":"PLAY1-3QDBr-GdWfE-GA6MP-NDt9W-VYWuM",
                "title":"Live McMurdo Oceanographic Observatory",
                "description":"",
                "sourceURL":"http%3A%2F%2F157.132.104.177%3A1935%2FMOO%2Fsmil%3AAdaptaMoo.smil%2Fplaylist.m3u8",
                "autoPlay":true,
                "volume":"100",
                "mute":false,
                "loop":false,
                "audioOnly":false,
                "uiShowQuickRewind":false
                }
            );
        });
    </script>
{% endblock %}