{% extends "icefish/index.django.html" %}
{% load staticfiles %}

{% block header_css %}
    <link rel="stylesheet" href="{% static "icefish/js/video/video-js-6.5.1/video-js.css" %}">
    <meta http-equiv="Refresh" Content="3600"> <!-- Including as a temporary fix for MOO video issues -->
{% endblock %}

{% block content %}
    <div class="pure-u-md-1-24 pure-u-sm-1" id="icefish_navbar">
        <a href="#" onclick="swap_panels('icefish_about');"><img src="{% static "icefish/img/core/B195M_Logo_240.png" %}" id="icefish_logo"></a>
        <ul>
            <li class="pure-u-1-1 icefish_navbar_button" id="video_browse_button"><a href="#" onclick="swap_panels('icefish_video_browser');"><i class="fa fa-video-camera" aria-hidden="false" aria-label="Browse Video" title="Browse Video Archive"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button" id="audio_browse_button"><a href="#" onclick="swap_panels('icefish_audio_browser');"><i class="fa fa-headphones" aria-hidden="false" aria-label="Browse Audio" title="Browse Audio Archive"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button" id="ctd_data_button"><a href="#" onclick="swap_panels('icefish_data_browser');"><i class="fa fa-area-chart" aria-hidden="false" aria-label="Data and Instruments" title="Data and Instruments"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button" id="project_about_button"><a href="#" onclick="swap_panels('icefish_about');"><i class="fa fa-info-circle" aria-hidden="false" aria-label="About This Project" title="About this Project"></i></a></li>
            <li class="pure-u-1-1 icefish_navbar_button" id="interface_settings_button"><a href="#" onclick="swap_panels('icefish_settings');"><i class="fa fa-sliders" aria-hidden="false" aria-label="Settings" title="Application Settings"></i></a></li>
            <!--<li class="pure-u-1-1 icefish_navbar_button" id="ptz_controls_button"><a href="#" onclick="swap_panels('icefish_controls');"><i class="fa fa-arrows" aria-hidden="false" aria-label="Camera Control" title="Camera Control"></i></a></li>-->
            <li class="pure-u-1-1 icefish_navbar_button" id="project_context_button"><a href="#" onclick="swap_panels('icefish_summary_stats');"><i class="fa fa-table" aria-hidden="false" aria-label="Summary Statistics and Regional Data" title="Summary Statistics and Regional Data"></i></a></li>
        </ul>
    </div>

    <!-- Dialogs for other applications -->
    <div id="icefish_about" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            {% include "icefish/about.django_include.html" %}
        </div>
    </div>  <!-- first in the page because it doesn't matter and this way its contents are pulled first by robots -->
    <div id="icefish_video_browser" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            <h2>Video Archive</h2>
            <h3>Installing the Observatory</h3>
            <p>
                <video controls id="promos_player" class="video-js vjs-default-skin" data-setup='{"fluid": true}'>
                    <source src="{{ ICEFISH_VIDEO_SERVER_URL }}/MOO_promos/mp4:short_moo_promo_4.0.mp4/playlist.m3u8" type="application/x-mpegURL">
                </video>
            </p>
        </div>
    </div>
    <div id="icefish_controls" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            <h2>Observatory Controls</h2>
            <p>Hide for now</p>
        </div>
    </div>
    <div id="icefish_audio_browser" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            <h2>Audio Archive Browser</h2>
            <p>Curated spectrograms and audio clips that show and demonstrate the common tones/features that they'll see and hear</p>
        </div>
    </div>
    <div id="icefish_data_browser" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            <h2>About the Instruments and Data</h2>
            <div class="pure-u-1-2">
                <h3>Underwater Video</h3>
                    <p>Live underwater video and audio, from 21 m (70 ft) deep at a site near the McMurdo Station Intake Jetty. The camera can be directed to pan, tilt and zoom to capture the scene in any direction except down.</p>
                    <p>At most times the camera is following a pre-programmed survey to inspect various waypoints of general and scientific interest. Data is archived for later analysis.</p>
                    <p>The camera dome is equipped with wiper system to prevent biofouling. The wiper arm periodically revolves around the dome, and may occasionally obstruct the camera view.</p>

                <h3>Audio Spectrogram (colorful panel)</h3>
                    <p>The spectrogram is a visual representation of the underwater audio recorded by our research hydrophone.</p>
                    <p>Colors indicate intensity (red = high, blue = low) of the sound, the vertical position indicates sound frequency, and the horizontal axis is time.</p>
                    <p>While humans can only hear sounds with frequencies up to about 20 khz, we record at up to 200 khz in order to capture sounds produced by and audible to marine mammals that echolocate and communicate at higher frequencies. Many marine mammal species produce unique vocalizations, and we will use this data to identify those that occur in our area year-round.</p>
                    <p>Note: Due to video encoding schemes and network bottlenecks, video and audio may lag behind the spectrogram by 10 to 60 seconds. That is, the spectrogram is presented in real time, while the video often has a short delay. </p>

                <h3>Instruments and Data Streams (2017-2018)</h3>
                <ul>
                    <li>Sea-Bird Electronics SBE19plus V.1 CTD: Seawater Conductivity (a measure of salinity), Temperature and Depth (pressure).</li>
                    <li>Oceansonics icListenHF SB2ETH hydrophone:  Research-quality hydroacoustic record.</li>
                    <li>Axis P5515 high-definition pan-tilt-zoom network camera in a View Into the Blue camera dome with CleanSweep wiper: Real-time video.</li>
                    <li>View Into the Blue LED lights: Two lights each with 18 -high-intensity LEDs each.</li>
                    <li>View Into the Blue Integrated Multiplexer Pressure Chamber (IMPC): Underwater Ethernet router and power supplies for the instruments.</li>
                </ul>
            </div>
            <div class="pure-u-11-24" style="margin-left:1em;">
                <h3>Real-Time Seawater Conditions</h3>
                    <h4>Seawater temperature (blue line) and calculated freezing point (white)</h4>
                    <p>Real-time seawater temperature (blue line) and the calculated freezing point (white).</p>
                    <p>McMurdo sound ranks among the coldest marine habitats on our planet. At this observatory site, the annual average seawater temperature is only about -1.8˚C (28.8˚F), with maximum variation less than 2.0˚C (3.6˚F) over the course of each year.</p>
                    <p>Typically, near-surface seawater here is at its freezing point (-1.91˚C) from early July to mid-December. Due to the influence of the nearby Ross Ice Shelf, the seawater may even be cooled to slightly below its freezing point. This supercooling drives the growth of ice on the sea floor (anchor ice) and the underside of the sea ice (platelet ice).</p>
                    <p>Summer conditions at this site typically begin in mid-December, when warmer water from the north begins to flush into the Sound. The highest temperatures are typically observed in early February, with the maximum temperature ever recorded being -0.10˚C (31.8˚F) in 2011.</p>
                    <h4>Seawater salinity (green)</h4>
                    <p>Variation in the saltiness of the water may indicate intrusion of different water masses into McMurdo Sound or reveal the occurrence of sea ice growth, sea ice melting, or the runoff of meltwater from nearby land.</p>
                    <p>The practical salinity unit (PSU) equals roughly the number of grams of salt dissolved per liter of water.</p>
                    <h4>Hydrostatic pressure (magenta line)</h4>
                    <p>Differences in pressure indicate changes in the height of the sea surface above the pressure sensor – mostly due to daily tides. While most oceans in the world have two high tides and two low tides each day, in much of the Antarctic the lower high tide and the higher low tide are often so small that they may not be observed, and it appears that only one high tide and one low tide occur each day. The pressure unit of decibar (db) is equal to approximately 1m of seawater depth.</p>
            </div>
        </div>
    </div>
    <div id="icefish_settings" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            <h2>Application Settings</h2>
                <h3>Realtime Spectrogram</h3>
                    <!-- Tool Bars - code straight from hydrophone -->
                    <div id="toolbar">
                        <span>Step size: <select id="step"></select></span>
                        <span id="abId0.5314168991210294">Reference: <input id="ref" size="2" value=51>dB µPa</span>
                        <span>Bandwidth: <span data-field="fftBandWidth">Loading...</span></span>
                        <span id="abId0.433896597943322"><input id="view" size="2" value="4"> min(s)</span>
                        <span><button id="rescale">Rescale</button></span>
                        <span><button id="gobtn">Stop</button></span>
                    </div>
        </div>
    </div>
    <div id="icefish_summary_stats" class="pure-u-sm-1 icefish_hidden_dialog">
        <div class="pure-u-1-1">
            <h2>Summary Stats and Regional Information</h2>
            <h3>The area</h3>
            <h3>The animals</h3>
            <p>Two seals are commonly seen in the video stream, each having been tagged previously by the B-009-M team.
                The most commonly seen seal is number 9410, a male born in 1999 at Turtle Rock who has been seen in 2009,
                2012, 2013, 2014, 2015, and now 2017. The second seal, number 9631, was tagged as a pup at Hutton Cliffs in 2006
                by B-009. She has been seen in 2006, 2009, 2010, 2012, 2013, 2014, 2015, 2016, and 2017 in Erebus Bay.
                She had her first pup at age 8, the typical age when females begin having pups in the B-009 study.
                She had her 2nd and 3rd pups in 2015 and 2016 at Hutton Cliffs and has been sighted near McMurdo without
                a pup in 2017.</p>
        </div>
    </div>

    <div id="icefish_error_console" class="pure-u-sm-1 icefish_hidden_dialog"></div>

    <div class="pure-u-md-17-24 pure-u-sm-1" id="icefish_main">
        <!--<div id="header" class="pure-u-1-1">
            <h1>McMurdo Oceanographic Observatory</h1>
        </div>--><!-- Need to do some work on heights and colors-->
        <div id="video_outside_container" class="pure-u-1-1 video_container"> <!-- height here doesn't control video size, but does push the spectrogram down to appropriate spot -->
            <!--<div class="pure-u-md-1-12 pure-u-sm-1 letterbox"></div>-->
            <div class="pure-u-md-1-1 pure-u-sm-1" id="icefish_video_player_container">
                <!--<div id="WowzaPlayerElement" style="width:100%; height:0; padding:0 0 56.25% 0"></div>-->
            </div>
            <!--<div class="pure-u-md-1-12 pure-u-sm-1 letterbox"></div>-->
        </div>
        <div id="spectrogram" class="pure-u-1"><!-- Waterfall Display -->
            <div id="waterfall-display" class="chart-holder" style="height:100%">
                <div class="chart" style="height:100%"></div>
            </div>
        </div>
    </div>
    <div class="pure-u-md-1-4 pure-u-sm-1" id="icefish_charts">
        <div class="pure-u-1-24">
            <div class="pure-u-2-3" id="icefish_chart_toggle_bar">
                <a href="#" id="icefish_chart_toggle_link" onclick="change_chart_size();">
                    <i id="icefish_chart_toggle_button" class="fa fa-caret-left" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="pure-u-22-24">
            <div id="temperature" class="icefish_chart"></div>
            <div id="salinity" class="icefish_chart"></div>
            <div id="pressure" class="icefish_chart"></div>
        </div>
    </div>
{% endblock %}

{% block footer_js %}
    <script type="text/javascript">
        ICEFISH_VIDEO_SERVER_URL = "{{ ICEFISH_VIDEO_SERVER_URL }}";
    </script>
    <script src="{% static "icefish/js/core.js" %}"></script>
    <script src="{% static "icefish/js/video/video_support.js" %}"></script>
	<script src="{% static "icefish/js/controls.js" %}"></script><!-- our own system controls -->
	<script src="{% static "icefish/js/common/jquery_cookie.js" %}"></script><!-- hydrophone requirement -->
	<script src="{% static "icefish/js/common/jquery_plot.js" %}"></script><!-- hydrophone requirement -->
    <script src="{% static "icefish/js/spectrogram/chroma.js" %}"></script><!-- hydrophone requirement -->
    <script src="{% static "icefish/js/spectrogram/spectrogram.js" %}"></script><!-- hydrophone requirement -->

    <script src="{% static "icefish/js/video/video-js-6.5.1/video.js" %}"></script>
    <script src="{% static "icefish/js/video/video-js-6.5.1/videojs-contrib-hls.js" %}"></script>
    <!--<script src="{% static "icefish/js/video/videojs-skippy.js" %}"></script>-->

    <script src="{% static "icefish/js/video/video_support.js" %}"></script>

    <script type="text/javascript">
       startup();
    </script>

{% endblock %}